@import "bootstrap/scss/bootstrap";

body {
  background: rgb(38, 35, 51);
  color: white;
}

header {
  background-color: rgb(51, 44, 75);
}

#headerImg {
  width: 40px;
  height: 32px;
  background-color: rgb(51, 44, 75);
}

#headerText {
  padding-left: 10px;
}

.btn-circle {
  width: 50px;
  height: 50px;
  margin: 10px;
  outline: none;
  padding: 10px;
  border-radius: 50px;
}

#micOnOffImg {
  width: 30px;
  height: 30px;
}

#videoOnOffImg {
  width: 30px;
  height: 30px;
}

#screenShareImg  {
  width: 30px;
  height: 30px;
}

#hangupImg {
  width: 30px;
  height: 30px;
}

#localVideo {
  position: relative;
  border: 3px solid rgb(229, 229, 231);
  width: 200px;
  height: 200px;
  margin: 5px;
  left: 10px;
  top: 0px;
  opacity: 1;
}

#remoteVideo {
  position: relative;
  border: 3px solid rgb(229, 229, 231);
  width: 200px;
  height: 200px;
  margin: 5px;
  left: 10px;
  top: 0px;
  opacity: 1;
}

#screenVideo {
  position: relative;
  border: 3px solid rgb(229, 229, 231);
  width: 100%;
  height: 525px;
  margin: 5px;
  left: 10px;
  top: 0px;
  opacity: 1;
}

#screenVideoDiv {
  position: relative;
}

#localVideoDiv {
  position: relative;
}

#remoteVideoDiv {
  position: relative;
}

.overlay-text {
  text-align: justify;
  padding-left: 10px;
  width: 115px;
  color: white;
  z-index: 1;
  position: absolute;
  top: 190px;
  left: 16px;
  margin-left: 100px;
  background-color: rgb(38, 35, 51);
  opacity: 0.8;
}

.overlay-mic {
  width: 30px;
  height: 35px;
  z-index: 1;
  position: absolute;
  top: 180px;
  left: 21px;
  background-color: rgb(38, 35, 51);
  opacity: 0.8;
}

.overlay-text-screen {
  text-align: justify;
  padding-left: 10px;
  width: 170px;
  color: white;
  z-index: 1;
  position: absolute;
  top: 510px;
  right: -16px;
  background-color: rgb(38, 35, 51);
  opacity: 0.8;
}


.mic-on-svg {
  filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(8deg) brightness(102%) contrast(99%);
  width: 30px;
  height: 30px;
}

.mic-off-svg {
  filter: invert(18%) sepia(84%) saturate(7228%) hue-rotate(358deg) brightness(103%) contrast(114%);
  width: 30px;
  height: 30px;
}

#modalHeader {
  background: rgb(51, 44, 75);
}

#modalBody {
  background: rgb(38, 35, 51);
}

#modalFooter {
  background: rgb(51, 44, 75);
}

.modal.fade.show {
  backdrop-filter: blur(5px);
}


#chatHeader {
  background: rgb(51, 44, 75);
}


#chatImage {
  width: 40px;
  height: 100%;
  padding-right: 15px;
}

#textChatDisplay {
  height: 400px;
  position: relative;
  overflow-y: auto;
}

#sendChatText {
  max-width: 200px;
  background: rgb(51, 44, 75);
}

#recieveChatText {
  max-width: 200px;
}

#sendChatUser {
  color: orange;
  font-size: x-small;
}

#recieveChatUser {
  color: yellow;
  font-size: x-small;
}

#chatImage {
  width: 45px;
  height: 100%
}

#sendChatTime {
  padding-right: 15px;
}

#recieveChatTime {
  padding-left: 15px;
}

#sendTextImg {
  width: 20px;
  height: 25px;
}

#fileUploadImg {
  width: 20px;
  height: 25px;
}

#fileInput {
  display: none;
}

footer {
  background-color: rgb(51, 44, 75);
  box-shadow: 0 50vh 0 50vh rgb(51, 44, 75);
}